<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Instructions - WordMaster</title>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="wordmaster.css" />
  </head>
  <body>
    <div class="purple-blob"></div>

    <div class="container">
      <div class="brand-title">
        <div class="logo-section">
          <div class="logo">
            <img
              src="img/new_logo.svg"
              alt="WordMaster Logo"
              class="logo-svg"
            />
          </div>
        </div>
        <h4>WordMaster</h4>
      </div>
      <!--navigation bar-->
      <nav class="navbar">
        <ul>
          <li><a href="mainMenu.html">Home</a></li>
          <li><a href="/profile.html" id="profile-menu">Profile</a></li>
          <li><a href="leaderboard.html">Leaderboard</a></li>
          <li>
            <a href="instructions.html" class="active">Game Instructions</a>
          </li>
          <li><a href="settings.html" id="settings-menu">Settings</a></li>
        </ul>
      </nav>
      <div class="tagline">Game Instructions</div>

      <div class="welcome-card instructions-container">
        <h5>Game Instructions: Word Master</h5>
        <p>
          Welcome to Word Master, knowledge word quiz Compete against others to
          think of words within specific categories. Can you outwit your
          opponents and claim victory?
        </p>

        <h5>How to Play</h5>
        <h6><b>Objective</b></h6>
        <p>
          Score points by submitting the longest words in a quick time for the
          given category.
        </p>
        <p>The player with the most points at the end of 5 rounds wins!</p>

        <h6><b>Basics </b></h6>
        <p>
          1️⃣ Either you can select a genre for categories or play with them all!
        </p>
        <p>2️⃣ Each game consists of 5 rounds</p>
        <p>
          3️⃣ At the start of each round, a sub category (e.g., “🌎 Countries”)
          will appear.
        </p>

        <h6><b>Submitting Your Word </b></h6>
        <p>
          Once the round starts, you’ll have 7 seconds to think of and submit a
          word.
        </p>

        <h6><b>Scoring </b></h6>
        <p><b>Base Score </b></p>
        <p>The longer your word, the higher your base score!</p>
        <p><b>Rarity Bonus </b></p>
        <p>
          Unique words are rewarded! The rarer your word, the bigger the bonus.
        </p>
        <p><b>Time Bonus </b></p>
        <p>The faster you enter your word, the bigger the multiplier bonus!.</p>
        <p>
          After each round, scores will be displayed as a colorful bar graph .
        </p>
        <p>Your bar grows based on the points scored.</p>

        <h5>Winning the Game</h5>
        <p>The game ends after 5 rounds.</p>
        <p>
          Combine your longest, rarest, and fastest words to become the ultimate
          Word Master!
        </p>
        <p>Play until the final round and score as many points as possible!</p>

        <h5>Important Rules</h5>
        <p>1️⃣Words must match the category provided.</p>
        <p>
          2️⃣ Words with symbols or spaces do not require the symbols or spaces
          to be typed:
        </p>
        <p>&emsp;Example: “🇺🇸 United States” → You can type “unitedstates.”</p>
        <p>3️⃣ Misspelled words will not be accepted.</p>

        <h5>Additional Features</h5>
        <h6><b>Leaderboard </b></h6>

        <p>Track your performance in real-time!</p>
        <p>View rankings by high score, longest word, total wins, and more.</p>
        <p>Get notifications if your ranking drops!</p>

        <h6><b>Face real opponents!</b></h6>
        <p>
          While playing, opponents’ answers will be simulated using real player
          data
        </p>

        <div class="buttons-container">
          <a
            href="/mainMenu.html"
            class="waves-effect waves-light btn btn-custom play-btn"
          >
            Back to Menu
          </a>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        const isLoggedIn = localStorage.getItem("isLoggedIn") === "true";
        if (!isLoggedIn) {
          $("#settings-menu").hide();
        }
      });
      const isLoggedIn = localStorage.getItem("isLoggedIn") === "true";
      if (!isLoggedIn) {
        $("#profile-menu").hide();
      }
    </script>
  </body>
</html>
