<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="wordmaster.css">
  </head>
  <body>
    <div class="purple-blob"></div>
    
    <div class="container">
      <div class="brand-title">
        <div class="logo-section">
          <div class="logo">
              <img src="Public/img/Image_265.svg" alt="WordMaster Logo" class="logo-svg" />
          </div>
        </div>
        <h4>WordMaster</h4>
      </div>

      <div class="tagline">
        Challenge your trivia knowledge with this daily word game
      </div>

      <div class="welcome-card">
        <h5 id="welcome-user" class="wave-text"></h5>
        <div class="buttons-container">
          <a href="/index.html" class="waves-effect waves-light btn btn-custom play-btn">
            Play
          </a>
          <a href="/login.html" class="waves-effect waves-light btn btn-custom login-btn">
            Log in
          </a>
          <a href="signup.html" class="waves-effect waves-light btn btn-custom signup-btn">
            Sign up
          </a>
          <a href="/leaderboard.html" class="waves-effect waves-light btn btn-custom leaderboard-btn">
            LeaderBoard
          </a>
          <button id="logout-btn" class="waves-effect waves-light btn btn-custom logout-btn">Logout</button>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function(){
        const isLoggedIn = localStorage.getItem('isLoggedIn') === 'true';
        if(isLoggedIn){
          $('.login-btn').hide();          
          $('.signup-btn').hide();
          $('.logout-btn').show();
          document.getElementById('welcome-user').innerText = `Welcome back ${localStorage.getItem('user')} 👋`;
        } else {
          $('.login-btn').show();
          $('.signup-btn').show();
          $('.logout-btn').hide();
        }
        $('.modal').modal();
      });
      //Logout function
      $('#logout-btn').on('click', function() {
      // Clear tokens and user data from localStorage
      localStorage.removeItem('accessToken');
      localStorage.removeItem('refreshToken');
      localStorage.removeItem('isLoggedIn');
      localStorage.removeItem('user');

      // Redirect to mainMenu.html
      window.location.href = '/mainMenu.html';
    });
    </script>
  </body>
</html>