<div class="container">
    <!-- Header -->
    <div class="brand-title">
        <a href="mainMenu.html" class="logo-section">
            <img src="/img/new_logo.svg" alt="WordMaster Logo" class="logo-svg" />
        </a>
        <h4>WordMaster</h4>
    </div>

    <!-- Navigation -->
    <nav class="navbar">
        <ul>
            <li><a href="mainMenu.html">Home</a></li>
            <li><a href="Profile.html" id="profile-menu">Profile</a></li>
            <li><a href="leaderboard.html">Leaderboard</a></li>
            <li><a href="instructions.html">Game Instructions</a></li>
            <li><a href="settings.html" id="settings-menu">Settings</a></li>
        </ul>
    </nav>
</div>